#header #logo-area h1 a { /* CUSTOMIZE THIS PER AFFILIATE */
  width: 137px;
  height: 55px;
  background: url(../../images/external/dailymakeover/logo.gif) no-repeat;
}
#header #logo-area .powered-by {
  width: 135px;
  height: 20px;
  background: url(../../images/external/powered-by.gif) no-repeat;
}
