-# Add bid quantities to models/bid_order.rb

.penny-promo
  #welcome-page
    %h2.almost-ready
    #welcome-splash
    #winners-table
    #buy-bids-explanation
      FirstBargain.com is the addictively fun shopping website where you can win name-brand items worth hundreds or even thousands of dollars for just pennies. To join the fun, you need Bid Credits #{ image_tag "icons/bids-single.png" }. Bid Credits allow you to bid on any FirstBargain auction, and they cost just 75&#162 each.
    = render :file => 'bid_packs/new'
    #penny-quotes
    
/ ADBRITE SIGNUP TRACKER
<img border="0" hspace="0" vspace="0" width="1" height="1" src="//stats.adbrite.com/stats/stats.gif?_uid=836796&_pid=1" />
    