- content_for :title, "FirstBargain.com - About Us"

#flat-page
  %h2.about-us About Us   
  #about-overview
    .unit
      %h3 Your First Stop to Bargain Shopping
      %p Why pay full price when you can spend 90% less? FirstBargain.com has redefined internet shopping to bring you unheard of deals on today's hottest products. Through our fun and exciting auctions, we offer a wide selection of brand new, factory-sealed products including Apple iPads, flat screen TV's, handbags and more! We warmly welcome you to join the thousands of members who choose us as their first stop to bargain shopping.
    .unit
      %h3 Innovative Live Auctions
      %p  Our auctions work quite differently from eBay’s. All items start at $0 and each bid raises the price by only a few pennies. When the remaining time on the auction clock is under 30 seconds (or 20 seconds depending on the auction), each bid adds several seconds back onto the timer. The last bidder standing when the timer runs out wins the auction. Bids costs only $0.75 each, and winners walk away with huge bargains! See our #{ link_to "How It Works", tutorial_path } page to learn more.