- content_for :title, "FirstBargain.com - FAQ: Payment Information"

#faq-page-show
  %h2 Payment Information
  .block
    %h3 Accepted Payment Methods
    %p We accept Visa, Mastercard, Discover, and PayPal.
  .block
    %h3 Is My Credit Card Information Safe?
    %p We have partnered with CCBill and PayPal to provide an easy and secure payment solution for our customers. For your protection, any information you provide to us is transmitted via VeriSign's secure 256-bit encryption system. Our company does not store any credit card information.
  .block
    %h3 Your Credit Card Billing Statement
    %p If you pay using a credit card, transactions on your billing statement will appear as CCBILL.COM*FIRSTBARGAIN. If you pay via PayPal, transactions on your billing statement will appear as PAYPAL*FRSTBARGAIN.