- content_for :title, "FirstBargain.com - Our Guarantee Policy"

#FirstBargain-guarantee-page
  %span.right(style="margin-right:-20px;")= image_tag 'how-to-play/apple-ipad.gif'
  .unit
    %h3 Your Satisfaction Comes First
    %p At First Bargain, we believe that there’s nothing better than a happy customer. That is why we make an effort to respond to all member inquiries within 24 hours. We not only want you to have a fun time bidding on our auctions, but also feel completely satisfied with the products you win. We offer a 14 day #{link_to "return policy", returns_path} because we know that everyone changes their mind once in a while!
  .unit
    %h3 Always New, Always Authentic
    %p Our products are sourced directly from the manufacturer or authorized distributor. This means that all items you receive are guaranteed brand new, factory-sealed, and 100% authentic! If you have any product related questions, please feel free to #{ link_to "contact us", contact_path }.
  .unit
    %h3 Safe and Fair Internet Practices
    %p We take internet security very seriously. FirstBargain.com has partnered with Verisign and CCBill to ensure that all customer credit cards and personal information are processed securely. In addition, our auctions are designed in such a way as to provide a fair auction environment for all of our members. First Bargain employees are not allowed to bid on the auctions, and we guarantee that our company does not use any systems to bid up the price of items.
  
