- content_for :title, "FirstBargain.com - Return Policy"

%h2.return-policy
.unit
  %h3 Making a Bid Refund Request
  %p You can request a refund only for unused or unexpired Bid Credits, by submitting a request via our #{link_to "Contact Form", contact_path}.
  %p FirstBargain.com reserves the right to reduce your MemberPoints by the amount of the bid refund. If you have used your MemberPoints we reserve the right to deny your refund. Free, used, or expired Bid Credits are not eligible for a refund. FirstBargain.com reserves the right to deny refund requests intended to abuse or manipulate this policy.
.unit
  %h3 Submitting a Product Return Request
  %p Users have 14 days after delivery to return an item won or purchased through Buy Now unless otherwise noted. Items returned must be in good condition and you are responsible for shipping costs. Return and cancellation requests can be submitted through our #{link_to "Contact Form", contact_path}.
  %p If, for any reason, you are unable to return the item in good, working condition, FirstBargain.com will retain the right to accept the returned item and reduce the amount of your refund in a proportion equal to the damage on the item (as determined by FirstBargain.com in its sole discretion). In no case will the return of an item entitle you to a refund of the Bid Credits used to win or purchase the item.
.unit
  %h3 Billing Inquiries
  %p(style="margin-bottom:7px;") For questions regarding credit card billing statements, please contact our billing partner:
  %p.ccbill-contact Website: <a href="http://support.ccbill.com">http://support.ccbill.com</a><br> Phone: 1-877-374-0182 <br> Email: <a href="mailto:ccbillsupport@ccbill.com?subject=Billing Inquiry for FirstBargain.com">ccbillsupport@ccbill.com</a>  
