- content_for :title, "FirstBargain.com - Member Rewards Program"
#member-rewards-page
  .unit.clearfix(style="min-height:300px;height:auto!important;")
    %h3 Buy Now
    %span.right= image_tag 'how-to-play/buynow.gif'
    %p The Buy Now feature gives you the option to purchase an item at a discount equal to the amount you invested in the auction.
    %p Say you placed 100 bids (or $75 worth) on an $149.99 Apple iPod Nano, but another member ends up winning the auction. Through Buy Now, you are given the opportunity to purchase the same $149.99 iPod for only $74.99. 
    %p This is our way of ensuring that our members never pay more than what the item is worth! Buy Now is available anytime during an auction or within 24 hours after its closing.
  .unit.clearfix
    %h3 MemberPoints
    %p For every $1 in bids you purchase from us, we reward you with 1 MemberPoint. These points can be redeemed for discounts on popular items in our Members Shop. Take advantage of this opportunity to ensure none of your money goes to loss, even if you don’t win some auctions. 
    .how-to-cell.clearfix
      %span.left= image_tag 'how-to-play/memberstore-cell.gif'
      %dl.explanation
        %dt 1. Product Name
        %dd Click on the name or image for detailed product information
        %dt 2. Regular Price
        %dd Retail value of the item.
        %dt 3. MemberPoints
        %dd Shows how many of your MemberPoints can be applied to the product.
        %dt 4. What You Pay
        %dd Your discounted price after applying MemberPoints. The total savings is listed as a percentage.
        %dt 5. Redeem Points
        %dd Click on this button to apply your points and buy the product.
