- content_for :title, "FirstBargain.com - Bidding Tips"

#flat-page
  #bidding-tips-page
    #tips-rules-wrapper
      = link_to "Bidding Tips", tips_path, :class => "button", :id => "bidding-tips-link"
      = link_to "Site Rules", rules_path, :class => "button", :id => "site-rules-link"
    .wrapper
      %h2.bidding-tips Bidding Tips
      .unit
        %p New to First Bargain? Don't know where to start? Below are some tips to help you get started:
      .unit
        %h3 Observe before bidding.
        %p Before you start bidding away, we suggest you watch a few auctions and look through the past auctions to get an idea of how our auctions work. You might notice that some items get more bids than others or that auctions have higher competition during certain times of the day. Use these observations to your advantage by coming up with a strategy to help yourself win with fewer bids!
      .unit
        %h3 Start small and work your way up.
        %p This is a point we always stress to our customers. The common mistake of going straight for a big screen TV or an Apple iPad can be a discouraging experience for many new users. These big ticket items attract a large number of bidders, and novice users may find themselves wasting a bunch of their bids. So start off on the smaller ticket items where you can practice bidding with less competition and then gradually move on to the bigger ticket items as you gain experience.
      .unit
        %h3 Ready to pay retail.
        %p By going into an auction “ready to pay retail”, you’re in a win-win situation. If you were already planning to buy an iPod Touch or a Sony camera, why not try winning it at First Bargain? If you win, you’ll most likely save 60-90% off the retail value. If you’re outbid, no big deal! We offer Buy Now on most of our products, which means you can buy the same product at a discount equal to 100% of the value of bids you used in the auction. But before you go all out bidding, first make sure that Buy Now is offered on the item. Due to inventory restrictions, the Buy Now feature is not offered on some items. For these auctions, we recommend that prior to entering the auction you set a limit on the number of bids you are comfortable using. It’s very easy to get carried away in the heat of bidding, but it never feels good to come out empty-handed after having placed hundreds of bids on an auction.
      .unit
        %h3 Bid early.
        %p Many users like to bid at the very last second of an auction in hopes that they end up the highest bidder, once the timer resets. Although this strategy may work 99% of the time, there are times when your internet connection slows down and your bid does not quite make it to our servers in time. Even with today’s advanced technology, everyone can experience internet lag here and there. As a rule of thumb always bid with at least 5 seconds remaining on the auction clock, so you can stay in the game longer and win!
