%title= yield_for :title, "First Bargain - Your first stop to bargain shopping. Save up to 90% at FirstBargain.com"
%meta{:name => "description", :content => yield_for(:description, "Bid to win huge bargains up to 90% off! Save on popular electronics, fashion, and home products. Best deals on the internet - Blowout sales every day!")}
%meta{:name => "keywords", :content => "firstbargain, first bargain, bargain, bargains, cheap, clearance, blowout sale, discount, discounts, ipod, ipad, hdtv, camera, laptop, mp3 player, gps, ps3, xbox, wii, kindle"}
