!!! 5
%html
  %head
    %title FirstBargain.com - Sorry, we'll be back in a few...
    %meta(name="ROBOTS" content="NOINDEX, NOFOLLOW")
    :css
      html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre, 
      a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp,
      sub, sup, tt, var, dd, dl, dt, li, ol, ul, form, fieldset, input, textarea, label, 
      table, legend, caption, tbody, tfoot, thead, tr, th, td { 
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
      }
      body {
        color: #808080;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-size: 13px;
      }
      #wrapper {
        margin: 55px auto;
        height: 340px;
        width: 520px;
        padding: 160px 200px 0 80px;
        background: url(//www.firstbargain.com/images/server-status/maintenance.jpg) no-repeat;
      }
      h1 {
        font-size: 1.5em;
        margin-bottom: 35px;
        color: #EF7A25;
      }
      p {
        margin-bottom: 15px;
      }
      a {
        color: #EF7A25;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      #signature {
        padding-top: 20px;
      }
      #signature em {
        font-size: 1.1em;
      }
%body
  #wrapper
    %h1 Sorry, we'll be back in a few...
    %p FirstBargain.com is temporarily closed for routine website maintenance as we work to bring you a better auction experience.
    %p We apologize for any inconvenience this may cause you. If you have any questions, please feel free to <a href="mailto:support@firstbargain.com?subject=Website Maintenance Inquiry">contact us</a>.
    #signature
      %p Happy bidding!
      %p <em>First Bargain Team</em>
