- content_for :title, "FirstBargain.com - New Account Registration"

#account-create-page.penny-promo.clearfix
  #registration-wrapper.clearfix
    %a(name="form-landing")
    #testimonials
    #registration-form
      .header
      .body
        = render "form"
      .footer
  #penny-quotes