- content_for :title, "FirstBargain.com - Purchase Bid Credits"

= render :file => 'bid_packs/first'
  

/ Google Code for Registration Conversion Tracking
:javascript
  var google_conversion_id = 1021111885;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "U9r3CKvujAIQzdzz5gM";
  var google_conversion_value = 0;
%script{:src => "https://www.googleadservices.com/pagead/conversion.js"}
%noscript
  %div{:style => "display:inline"}
    %img(height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1021111885/?label=U9r3CKvujAIQzdzz5gM&amp;guid=ON&amp;script=0")

-#
  / YAHOO! AD NETWORK
  <img src="https://ad.yieldmanager.com/pixel?id=1052426&t=2" width="1" height="1">
  
  / ADBRITE SIGNUP TRACKER
  <img src="https://stats.adbrite.com/stats/stats.gif?_uid=836796&_pid=1" border="0" hspace="0" vspace="0" width="1" height="1">
  
  / MYADS NETWORK TRACKER
  :javascript
    var rnd=10000000000*Math.random();
    document.write("<img src='https://conv.opt.fimserve.com/conv/50368/?rnd="+rnd+"' width=1 height=1 border=0>");
  %noscript
    <img src='https://conv.opt.fimserve.com/conv/50368/?' width=1 height=1 border=0>

